@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-[#141414];
  }
}

@layer components {
  .shadow-banner {
    background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0) 0,
      rgba(20, 20, 20, 0.15) 15%,
      rgba(20, 20, 20, 0.35) 29%,
      rgba(20, 20, 20, 0.58) 44%,
      #141414 68%,
      #141414 100%
    );
  }

  .movie-description {
    /* SOURCE: https://youtu.be/OhCzEjXvY9A?t=184 */
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
  }


  .my-slider button {
    @apply opacity-100 lg:opacity-0;
  }

  .my-slider:hover button {
    @apply lg:opacity-100;
  }
}

